.PageBanner {
    display: flex;
    margin-top: 50px;
}

.PageBanner__Text p {
    font-family: Roboto;
    font-size: 30px;
    color: #827676;
}

.PageBanner__Heading{
    color: black;
    font-family: Oregano;
    font-size: 56px;
}

.PageBanner__Image {
    width: 100vw;
    height: auto;
}

.PageBanner__Btn{
    background: #f33d15;
    color: white;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 36px;
    border-radius: 10px;
    border: none;
}

.PageBanner__Btn:hover {
    background: #9e3a24;
}

.PageBanner .PageBanner__Text .PageBanner__Btn:focus {
    background: #f33d15;
}

.Numbers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Numbers h1 {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 700;
}

.Numbers p {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 500;
    color: #827676;
}

.FoodCardListSection {
    background-color: #FFF5F2;
    text-align: center;
    padding: 20px;
}

.FoodCard {
    width: 23vw;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.FoodCard__Img {
    max-width: 80%;
    max-height: 100%;
    width: 300px;
    height: 230px;
}

.FoodCard__Price {
    display: flex;
    justify-content: space-between;
}

.FoodCard__OrderBtn {
    background: #f33d15;
    color: white;
    font-family: Roboto;
    padding-left: 30px;
    padding-right: 30px;
}

.FoodCardList .FoodCard .FoodCard__OrderBtn:focus {
    background: #f33d15;
}

.FoodCard__OrderBtn:hover {
    background: #9e3a24;
}

.FoodCardList {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }


.FoodCardListSection__h1{
    font-family: Oregano;
    color: #000;
}


@media screen and (max-width:1024px) {
    .PageBanner__Text {
        order: 2;
    }

    .PageBanner__Image {
        width: 70vw;
        order: 1;
    }

    .PageBanner {
        flex-direction: column;
    }

    .Numbers {
        justify-content: space-between;
    }
}

@media screen and (max-width:767px) {
    .PageBanner__Heading{
        font-size: 50px;
    }

    .PageBanner__Text p {
        font-size: 24px;
    }

    .PageBanner__Btn {
        font-size: 24px;
    }

    .Numbers h1 {
        font-size: 30px;
    }

    .Numbers p {
        font-size: 26px;
    }
}

@media screen and (max-width:400px) {
    .PageBanner__Heading{
        font-size: 45px;
    }

    .PageBanner__Text p {
        font-size: 20px;
    }

    .PageBanner__Btn {
        font-size: 20px;
    }

    .Numbers h1 {
        font-size: 25px;
    }
    .Numbers p {
        font-size: 20px;
    }
}


@media screen and (max-width:320px) {
    .Numbers h1 {
        font-size: 20px;
    }
    .Numbers p {
        font-size: 15px;
    }

}

@media screen and (max-width:250px) {
    .Numbers {
        flex-direction: column;
    }
}