h1 {
  color: #f33d15;
  font-family: 'Asap Condensed';
}

.Brand {
  display: flex;
}

.Brand__Img {
  margin-right: 10px;
}

.Collapsible .Menu .Menu__Item {
  font-family: Roboto;
  font-size: 24;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

.Collapsible {
  margin-right: 20px;
}